/* TABLE OF CONTENTS */
/* GRID */
/* GENERAL STYLES */
/* HEADINGS */
/* INLINE STYLES */
/* LIST STYLES */
/* TABLE STYLING */
/* FORMS */
/* BUTTONS */
/* STICKY FOOTER */
/* VERTICAL CENTER */
/* HELPER CLASSES */

/* GRID */
*, 
*:after, 
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row:last-of-type {
  margin-bottom: 5em;
}
[class*='col-'] {
  width: 100%;
  float: left;
  padding: 0;
}

/* mobile (iphone 5)landscape (min-width 580px) */
@media screen and (min-width: 540px) {
  [class*='col-'] {
    width: 50%;
    padding-right: 30px;
  }
}
@media screen and (min-width: 540px) and (max-width: 759px){  
  [class*='col-']:nth-of-type(2n) {
    padding-right: 0;
  }
}

/* tablet (regular ipad) portrait (min-width 760px) */
@media screen and (min-width: 760px) {
  [class*='col-'] {
    width: 33.33333%;
    padding-right: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
/* doesn't seem to work remove or test more  */
/*
  [class*='col-']:nth-child(3n) {
    padding-right: 0;
  }
*/
}

/* desktop (min-width 980px)*/
@media screen and (min-width: 980px) { 
  .col-1    { width: 8.33333%; }
  .col-2    { width: 16.66667%;}
  .col-3    { width: 25%;      }
  .col-4    { width: 33.33333%;}
  .col-5    { width: 41.66667%;}
  .col-6    { width: 50%;      }
  .col-7    { width: 58.33333%;}
  .col-8    { width: 66.66667%;}
  .col-9    { width: 75%;      }
  .col-10   { width: 83.33333%;}
  .col-11   { width: 91.66667%;} 
  .col-12   { width: 100%;     }
  
  .row {
    padding: 0 20px;
  }
  .row:last-of-type {
  margin-bottom: 3em;
  }
}

@media screen and (min-width: 1160px) {
  .row {
    padding-left: 0;
    padding-right: 0;
  }
}

/* GENERAL STYLES */
body, 
select, 
input, 
textarea, 
button {
  font-size: 16px;
  font-size: 1rem;
  font-size: 1.0em;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  color: #333;
}
p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1em;
}
dl, dt, dd, ol, ul, li {
  margin-bottom: 1.5em;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: .25em;
  font-weight: 400;
  line-height: 1em;
}
h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

/* INLINE STYLES */
b, 
strong {
  font-weight: 500;
}
a { 
  color: #809fff;
}
code {
  color: #cc0000;
  background-color: rgba(241,241,241,0.8);
  border-radius: 2px;
  padding: 2px;
}

.uppercase   { text-transform: uppercase; }
.lowercase   { text-transform: lowercase; }
.capitalize  { text-transform: capitalize;}

address {margin-left: 5px;}
blockquote {border-left: 1px #bfbfbf solid; padding-left: 5px;}

/* LIST STYLES */
body ol>ol {list-style-type: lower-alpha}

/* TABLE STYLING */
table {
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}
table.border {border: 1px solid #d9d9d9;}
table.striped tr:nth-child(even) {background: #bfbfbf}
table.striped tr:nth-child(odd) {background: #FFF}
table tr {
  border-bottom: 1px solid #d9d9d9;
  padding: 5px;
}
table th, table td {
  padding: 10px;
  text-align: center;
}
table th {
  border-bottom: 2px solid #d9d9d9;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

/* resoponsive  table */
@media screen and (max-width: 600px) {
  table.tresponsive {border: 0;}
  table.tresponsive.striped tr:nth-child(even) {background: #FFF}
  table.tresponsive.striped td:nth-child(even) {background: #d9d9d9}
  table.tresponsive.striped td:nth-child(odd) {background: #FFF}
  table.tresponsive thead {display: none;}
  table.tresponsive tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    }
    table.tresponsive td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    }
    table.tresponsive td:last-child {
    border-bottom: 0;
    }
    table.tresponsive td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    }
  }

/* FORMS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 20px;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
  width: 95%;
  padding: 5px;
  margin: 5px;
}
select {
  height: 35px;
}
select[multiple] {
  height: auto;
  padding: 5px;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
}
textarea {
  min-height: 65px;
}
label,
legend {
    display: block;
    margin: 10px 0;
    font-weight: 600;
}
fieldset {
  border-left: 1px solid #bfbfbf;
  border-right: none;
  border-top: none;
  border-bottom: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;   
  border-top: 1px solid #bfbfbf;
  margin: 1em 0;
  padding: 0;
}

/* BUTTONS */
button, 
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: none;
  border: 1px solid #bfbfbf;
  margin: 10px auto;
}
button:hover, 
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  border: 1px solid #809fff;
}
button:active, 
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background-color: #809fff;
}
.btnxsmall {
  font-size: 0.75em;
  padding: 5px 10px;
}
.btnsmall, 
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 1em;
  padding: 5px 20px;
}
.btnmedium {
  font-size: 1.25em;
  padding: 5px 30px;
}
.btnlarge {
  font-size: 1.5em;
  padding: 5px 50px;
}
.fa { width: 1.5em; text-align: center; }

/* NAVIGATION */
.navbar {
  display:block;
  background-color: #333;
  width: 100%;
  height: 50px;
  z-index: 10;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
.navbar ul li {
  position: relative;
  float: left;
  min-width: 100px;
  background-color: #333;
  margin-bottom: 0!important;
}
.navbar ul li.active a {
  background-color: #000;
}
.navbar ul ul li {
  float: none;
  white-space: nowrap;
}
.navbar li a {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  height: 50px;
}
.navbar>ul>li {
  margin-left: 5px;
}
.navbar ul li:hover {
  background: #000;
}
.navbar li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
}
.navbar li:hover ul a:hover {
  background: #000;
  color: #fff;
}
.navbar ul ul {
  opacity: 0;
  position: absolute;
  top: 160%;
  visibility: hidden;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}
.navbar ul ul ul {
  top: 0%;
  left: 160%;
}
.navbar ul ul li:hover > ul {
  top: 0%;
  left: 100%;
  opacity: 1;
  visibility: visible;
}
.navbar ul li:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.show-menu {
  text-decoration: none;
  color: #fff;
  background: #333;
  text-align: center;
  display: none;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ #menu {
  display: block;
}
.navbar span.mobile-show {
  display: none;
}

/* Navigation Responsive Styles*/
@media screen and (max-width : 760px) {
  .navbar {
    border-radius: 0;
    z-index: 10;
  }
  .navbar ul {
    position: static;
    display: none;
  }
  .navbar li {
    border-bottom: 1px solid #d9d9d9;
    display:inline-block;
    float: left;
    margin-right: 1px;
  }
  .navbar ul li:first-of-type {
    border-top: 1px solid #d9d9d9;
  }
  .navbar>ul>li {
    margin-left: 0;
  }
  .navbar ul li, li a {
    width: 100%;
  }
  .navbar .show-menu {
    display:block;
  }
  .navbar ul ul {
    position: static;
    background-color: #fff;
  }
  .navbar ul ul li:hover > ul, .navbar ul li:hover > ul {
    display: block;
  }
  .navbar ul ul li {
    white-space: normal;
  }
  .navbar span.mobile-noshow,
  li.mobile-noshow  {
    display: none;
  }
  .navbar span.mobile-show{
    display: inline;
  }
}

/* STICKY FOOTER */
.site {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%; 
}
.site-header,
.site-footer {
  -webkit-flex: none; 
  flex: none;
}
.site-content {
  -webkit-flex: 1 0 auto;;
  flex: 1 0 auto;
  width: 100%;
}
.site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  height: 0px;
  visibility: hidden;
}

/* VERTICAL CENTER */
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.flex-item {
  -webkit-flex: 1;
  flex: 1;
}
.flex-item-middle {
  -webkit-flex: none;
  flex: none;
  max-width: 50%;
}
.flex-item-top {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flex-item-bottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

/* HERO HEADER */
.hero {
    background: url("../img/desk_medium.jpg") no-repeat center center;
    background-size: cover;
    position:relative;
    height: 100%;
    height:100vh;
    z-index: 5;
}
.hero .header-text {
    position:absolute;
    top:50%;
    text-align:center;
    width:100%;
    color: #FFF;
    -ms-transform: translate(0,-50%); 
   	-webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background-color: rgba(30, 30, 30, 0.05);
}
.hero .header-text button {
    box-shadow: 2px 2px 2px #333;
    background-color: #d9d9d9;
    color: #333;
    margin: 1.5em;
}
.hero .header-text button a {
    text-decoration: none;
    color: #333;
}
@media screen and (max-width: 759px){  
    .hero .header-text {
        font-size: .75em;
    }
}

/* HELPER CLASSES */
.responsive-img {
  max-width: 100%;
  height: auto;
}
.clr {
  clear: both;
}
.center {
  position: relative;
  top: 50%;
}
@media print {    
  .no-print {
    display: none!important;
  }
}
